<!DOCTYPE html>
<html>
  <head>
    <title>wisdom - Notes by hclimente</title>
    {% include mathjax_support %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wisdom</title>
    <link href="/wisdom/assets/css/style.css?v=417580a30949ea7e5afb3987e60bd106e9d82764" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'http://hclimente.eu/assets/images/apple-touch-icon-144-precomposed.png' | absolute_url }}">
    <link rel="shortcut icon" href="{{ 'http://hclimente.eu/assets/images/favicon.ico' | absolute_url }}">	

  </head>
  <body>
        {{ content }}
  </body>
</html>
